
package-lock.json

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/client/.gradle
/client/.idea
/client/.ionic
/client/.sass-cache
/client/.sourcemaps
/client/.versions
/client/.vscode
/client/android
/client/coverage
/client/dist
/client/node_modules
/client/platforms
/client/plugins
/client/www

/simulator/node_modules