<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color: #020288; float: left; font-weight: bold; line-height: 48px;">
      Clue card
    </ion-title>
    <ion-button class="right" (click)="showModal()">Start new game</ion-button>
  </ion-toolbar>
</ion-header>

<ion-grid fixed="true" slot="fixed" style="display: contents; height: 40px" *ngIf="players.length > 0">
  <ion-row>
    <ion-col class="text">&nbsp;</ion-col>
    <ion-col class="heading" *ngFor="let item of players; let i = index">{{ i }}</ion-col>
  </ion-row>
</ion-grid>

<ion-content style="padding-left: 8px; padding-right: 8px;" *ngIf="players.length > 0">
  <ion-text style="color: #020288; font-size: 16px; font-weight: bold; margin-left: 8px; margin-top: 12px;">Suspects:</ion-text>
  <ion-grid fixed="true" style="border-top: 1px solid #ccc; margin-bottom: 16px; margin-top: 4px; padding: 0">
    <app-card *ngFor="let card of deck.people" [card]="card" [cardCount]="cardCount" [playerList]="playerList" (updatePlayer)="updatePlayer($event)" (updateStatus)="updateStatus($event)"></app-card>
  </ion-grid>

  <ion-text style="color: #020288; font-size: 16px; font-weight: bold; margin-left: 8px; margin-top: 12px;">Rooms:</ion-text>
  <ion-grid fixed="true" style="border-top: 1px solid #ccc; margin-bottom: 16px; margin-top: 4px; padding: 0">
    <app-card *ngFor="let card of deck.rooms" [card]="card" [cardCount]="cardCount" [playerList]="playerList" (updatePlayer)="updatePlayer($event)" (updateStatus)="updateStatus($event)"></app-card>
  </ion-grid>

  <ion-text style="color: #020288; font-size: 16px; font-weight: bold; margin-left: 8px; margin-top: 12px;">Weapons:</ion-text>
  <ion-grid fixed="true" style="border-top: 1px solid #ccc; margin-bottom: 4px; margin-top: 4px; padding: 0">
    <app-card *ngFor="let card of deck.weapons" [card]="card" [cardCount]="cardCount" [playerList]="playerList" (updatePlayer)="updatePlayer($event)" (updateStatus)="updateStatus($event)"></app-card>
  </ion-grid>

  <ion-grid style="display: contents; height: 40px; margin-bottom: 12px" *ngIf="players.length > 0">
    <ion-row>
      <ion-col style="font-size: 16px; font-weight: bold; line-height: 40px;">Card count</ion-col>
      <ion-col class="heading" *ngFor="let item of playerList">{{ item.sum }}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="height: 24px;"></ion-grid>

  <ion-text style="color: #020288; font-size: 16px; font-weight: bold; margin-left: 8px; margin-top: 24px;">Legend:</ion-text>
  <ion-grid fixed="true" style="border-top: 1px solid #ccc; margin-top: 4px; padding: 0">
    <ion-row style="border-bottom: 1px solid #ccc;">
      <ion-col size="1" style="background-color: #000000; margin: 4px">&nbsp;</ion-col>
      <ion-col style="background-color: #fffffb; line-height: 36px; vertical-align: middle;">Card belongs to player</ion-col>
    </ion-row>
    <ion-row style="border-bottom: 1px solid #ccc;">
      <ion-col size="1" style="background-color: #fce5cd; margin: 4px">&nbsp;</ion-col>
      <ion-col style="background-color: #fffffb; line-height: 36px; vertical-align: middle;">Card out of play or claimed</ion-col>
    </ion-row>
    <ion-row style="border-bottom: 1px solid #ccc;">
      <ion-col size="1" style="background-color: #95BEC4; margin: 4px">&nbsp;</ion-col>
      <ion-col style="background-color: #fffffb; line-height: 36px; vertical-align: middle;">Player cards identified</ion-col>
    </ion-row>
    <ion-row style="border-bottom: 1px solid #ccc;">
      <ion-col size="1" style="background-color: #b6d7a8; margin: 4px">&nbsp;</ion-col>
      <ion-col style="background-color: #fffffb; line-height: 36px; vertical-align: middle;">Mystery card identified</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="height: 24px;"></ion-grid>
</ion-content>

