
<ion-content [fullscreen]="true">
    
    <ion-card style="background-color: #fffff7; margin-bottom: 16px;">
        <ion-card-header>
            <ion-card-title>
                Players
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-list-header>Make sure the players is in the correct order</ion-list-header>
                <ion-reorder-group (ionItemReorder)="onRenderItems($event)" disabled="false">  
                    <ion-reorder *ngFor="let item of playerList">
                        <ion-item>  
                            <ion-label>  
                              {{item}}  
                            </ion-label>
                          </ion-item>
                    </ion-reorder>  
                </ion-reorder-group>  
            </ion-list>
        </ion-card-content>
        <ion-card-content *ngIf="enableInput">
            <ion-item>
                <ion-label position="floating"> Player </ion-label>
                <ion-input type="text" [(ngModel)]="player" (keyup.enter)="onInput()"></ion-input>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card style="background-color: #fffff7; margin-bottom: 16px;">
        <ion-card-header>
            <ion-card-title>
                Your cards
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label>Suspects</ion-label>
                <ion-select [(ngModel)]="suspectCards" multiple="true" cancelText="Cancel" okText="Confirm">
                    <ion-select-option *ngFor="let card of cards.people">{{ card }}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Rooms</ion-label>
                <ion-select [(ngModel)]="roomCards" multiple="true" cancelText="Cancel" okText="Confirm">
                    <ion-select-option *ngFor="let card of cards.rooms">{{ card }}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Weapons</ion-label>
                <ion-select [(ngModel)]="weaponCards" multiple="true" cancelText="Cancel" okText="Confirm">
                    <ion-select-option *ngFor="let card of cards.weapons">{{ card }}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card style="background-color: #fffff7; margin-bottom: 16px;">
        <ion-card-header>
            <ion-card-title>
                Cards out of play
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label>Select cards</ion-label>
            <ion-select [(ngModel)]="cardsOutSelect" multiple="true" cancelText="Cancel" okText="Confirm">
                <ion-select-option *ngFor="let card of cardsOut">{{ card }}</ion-select-option>
            </ion-select>
        </ion-card-content>
    </ion-card>

    <ion-button color="success" expand="block" (click)="createGame()">Create</ion-button>
    <ion-button color="danger" expand="block" (click)="cancel()">Cancel</ion-button>
</ion-content>
